<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E.D Studios</title>
    <link rel="stylesheet" href="/stylesheet/landing.css">
    <link rel="stylesheet" href="/stylesheet/slides.css">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <style>
        .blur{
            filter: blur(10px);
            -webkit-filter: blur(10px);
        }
    </style>
    <nav class="nav" >
        <input type="checkbox" id="check">
            <label for="check" id="head" class="menu-btn">
            <i class="menu-btn_burger"></i>
            </label> 
        <label class= "logo">  </label>
        <a href="/"><img src="/stylesheet/img/ED svg.svg" class="log"></a>
        <ul>
            <div class="ho">
            <li><a href="/services">Back</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/locate">Locate Us</a></li>
            <li><a href="https://instagram.com/e.d.studios?igshid=1u4xr2ux8tfry"><i class="fa fa-instagram"></i></a>
                <a href="https://twitter.com/edstudiosng"><i class="fa fa-twitter"></i></a>
            </li>
        </ul>
    </nav>