<div class="footer">
    <section class="follow">
        <h4 style="text-transform: uppercase; text-align: center;"> follow us on social media</h4><br>
        <p style="text-align: center;">
            <a href="https://instagram.com/e.d.studios?igshid=1u4xr2ux8tfry" style="margin-right: 30px; color: #e03172;"><i class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/edstudiosng"><i class="fa fa-twitter" style="color: #21adf3;"></i></a>
          </p>
        <br>
        <div class="carousel" data-flickity='{ "wrapAround": true, "autoplay": true}'>
            <div class="carousel-cell"><img src="https://i.ibb.co/pXcjpb0/DSC-7731.jpg" id="slider"></div>
            <div class="carousel-cell"><img src="https://i.ibb.co/R9kXfrf/270A9881.jpg" ></div>
            <div class="carousel-cell"><img src="https://i.ibb.co/pPZtd5B/DSC-3937.jpg" ></div>
            <div class="carousel-cell"><img src="https://i.ibb.co/TThvQ3F/781A8817.jpg" ></div>
            <div class="carousel-cell"><img src="https://i.ibb.co/3sLRDr0/EDS-4350.jpg" ></div>
            <div class="carousel-cell"><img src="https://i.ibb.co/swthHr9/EDS-8735.jpg" ></div>
            <div class="carousel-cell"><img src="https://i.ibb.co/BgQHK5D/IMG-2019.jpg" ></div> 
        </div>
    </section>
    <br>
    <br>
    <section class="footer" style="background: black; color: #fff; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <a href="/"><img src="https://i.ibb.co/MP5Q26b/rsz-1img-6157.png" class="log2"></a>
            <div style="margin-left: 7%; padding-top: 70px;">
                <button style=" border-radius: 15px; margin-left: 65%; text-align: center; font-size: 18px; padding: 5px;opacity: 0.88; background: #83c326; color: #fff;"><a href="/contact" style="color: #fff;">Bookings</a> </button>
                <div style="padding-top: inherit;">
                    <h4>&copy; 2019 Everyday Studios</h4><br>
                    <h4>Follow our Instagram Pages</h4><br>
                    <h4><a href="https://instagram.com/ed_weddings?igshid=s0chhnr8w4b1"><i class="fa fa-instagram" style="color: #e05b8c;"></i> @ed_weddings</a></h4><br>
                    <h4><a href="https://instagram.com/e.d.studios?igshid=1u4xr2ux8tfry"><i class="fa fa-instagram" style="color: #e05b8c;"></i> @e.d.studios</a></h4><br>  
                </div>
                <style>
                    h4 a{
                        color: #fff;
                    }
                </style>
            </div>
    </section>
</div>
<script type="text/javascript">
    const menuBtn= document.querySelector(".menu-btn");
    let menuOpen= false;
    menuBtn.addEventListener('click', () => {
        if(! menuOpen){
            menuBtn.classList.add('open')
            menuOpen= true;
        }else {
            menuBtn.classList.remove('open')
            menuOpen = false;
        }
    });
    // const blur= document.querySelector(".blur");
    // function addBlur() {
    //     document.querySelector(".services").classList.toggle("blur")
    // }
    </script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    </body>
</html>