<%- include ('../partials/back') %>
<header>
    <link rel="stylesheet" href="/stylesheet/studio.css">
</header>
    <div class="backdrop">
        <div class="txt">
            <h1>Event Coverage</h1>
            <p style="margin-left: 10%; margin-right: 10%; padding-top: 20px; text-align: left; font-size: 18px;">
                We offer photography and videography services for events(weddings, birthdays, conferences, dinners e.t.c.) <br>
                Our team of photographers are always available to capture those spectacular moments at your events. <br>
                We offer a variety of packages to fit into your budget and the size of event you are planning. <br>
                <i>Would you like to make that event a memorable one ?</i> <br>
            </p><br>
            <h3><a href="/contact" style="color: #7fffd4;">Kindly Contact Us</a></h3>           
        </div><br><br>
        <div class="imgs" style="margin-left: 10%; margin-right: 10%;">
            <div class="long">
                <img src="https://i.ibb.co/4KJS6ww/a.png" >
                <img src="https://i.ibb.co/GWLbxYm/b.png" > 
            </div>
            <div class="long">
                <img src="https://i.ibb.co/gDCcP3k/c.png" >
                <img src="https://i.ibb.co/pvpcfNW/d.png" > 
            </div>
            <div class="long">
                <img src="https://i.ibb.co/ZLnjZQr/e.png" >
                <img src="https://i.ibb.co/xgx6xpD/f.png" > 
            </div>
            <div class="long">
                <img src="https://i.ibb.co/CH8KLgd/g.png" >
                <img src="https://i.ibb.co/DgZG9Jb/h.png" > 
            </div>
            <div class="long">
                <img src="https://i.ibb.co/prhswRp/i.png" >
                <img src="https://i.ibb.co/kMjrRvt/j.png" > 
            </div>
            <img src="https://i.ibb.co/0jxrhwf/k.png" class="lisa">
            <div class="long">
                <img src="https://i.ibb.co/ygkHnWw/l.png" >
                <img src="https://i.ibb.co/Lp6J8JQ/m.png" > 
            </div>
            <div class="long">
                <img src="https://i.ibb.co/jr6C9ZC/n.png" >
                <img src="https://i.ibb.co/SRq5J3q/o.png" > 
            </div>
            <img src="https://i.ibb.co/bL2xgY1/p.png" class="lisa">
            <div class="long">
                <img src="https://i.ibb.co/DCHgG2H/q.png" >
                <img src="https://i.ibb.co/qRy0cZ8/r.png" > 
            </div>
            <div class="long">
                <img src="https://i.ibb.co/JBvryqL/s.png" >
                <img src="https://i.ibb.co/1X0W6Yj/t.png" > 
            </div>
            <div class="long">
                <img src="https://i.ibb.co/Ky56pW5/u.png" >
                <img src="https://i.ibb.co/tHf1FwM/v.png" > 
            </div>
            <div class="long">
                <img src="https://i.ibb.co/wLpPXZ5/w.png" >
                <img src="https://i.ibb.co/wzDHMdP/x.png" > 
            </div>
            <div class="long">
                <img src="https://i.ibb.co/85x1h3Y/y.png" >
                <img src="https://i.ibb.co/LQzggBK/z.png" > 
            </div>
            <img src="https://i.ibb.co/8x9xhWf/za.png" class="lisa">
            <div class="long">
                <img src="https://i.ibb.co/MMx01Gb/zb.png" >
                <img src="https://i.ibb.co/NyHff9x/zc.png" > 
            </div>
            <img src="https://i.ibb.co/jyknwCH/zd.png" class="lisa">
            <div class="long">
                <img src="https://i.ibb.co/x1sc19z/ze.png" >
                <img src="https://i.ibb.co/BgqSCCm/zf.png" > 
            </div>
        </div><br><br><br>
    </div><br><br>
    <style>
        .backdrop{
        background: #420000;
        text-align: center;
        padding-top: 18vh;
        color: #fff;
    }
    </style>

<%- include ('../partials/footer') %> 