<%- include ('../partials/back') %>
<header>
    <link rel="stylesheet" href="/stylesheet/studio.css">
</header>
<div class="backdrop">
    <div class="txt">
        <h1>Outdoor Shoot</h1>
        <p style="margin-left: 10%; margin-right: 10%; padding-top: 20px; text-align: left; font-size: 18px;">
            We love to appreciate the beauty of nature through photography as well as a sophistically designed and decorated ambience. <br>
            Our clients sometimes prefer at the comfort of their homes or at a specific location of their choice which also is a part of our specialty. <br>
            We show up with all neccessary equipments needed to achieve a perfect result and exceed our client expectations. <br>
            Our oudoor shoots are charged on an hourly basis and our prices are fair and affordable,<br> <i>look up some of our shots below.</i> 
        </p>
    </div><br><br>
    <div class="imgs" style="margin-left: 10%; margin-right: 10%;">
        <div class="long">
            <img src="https://i.ibb.co/mDCvGPs/a.png" >
            <img src="https://i.ibb.co/dLvyXb1/b.png" > 
        </div>
        <div class="long">
            <img src="https://i.ibb.co/CtwgjMR/c.png" >
            <img src="https://i.ibb.co/KzzLgQ9/d.png" > 
        </div>
        <div class="long">
            <img src="https://i.ibb.co/2NTYnNf/e.png" >
            <img src="https://i.ibb.co/LYP5gb8/f.png" > 
        </div>
        <div class="long">
            <img src="https://i.ibb.co/HrznqM1/g.png" >
            <img src="https://i.ibb.co/k8t6rYN/h.png" > 
        </div>
        <div class="long">
            <img src="https://i.ibb.co/JR6GGks/i.png" >
            <img src="https://i.ibb.co/JdWyrHY/j.png" > 
        </div>
        <img src="https://i.ibb.co/KDySNjZ/k.png" class="lisa">
        <div class="long">
            <img src="https://i.ibb.co/f9jNzjX/l.png" >
            <img src="https://i.ibb.co/wByymjb/m.png" > 
        </div>
        <div class="long">
            <img src="https://i.ibb.co/zZLcDFk/n.png" >
            <img src="https://i.ibb.co/hsm910w/o.png" > 
        </div>
        <img src="https://i.ibb.co/v3bPMnf/p.png" class="lisa">
    </div><br><br><br>
</div><br><br>
<style>
    .backdrop{
        background: #420000;
        text-align: center;
        padding-top: 18vh;
        color: #fff;
    }
</style>
<%- include ('../partials/footer') %> 