<%- include ('../partials/back') %>
<header>
    <link rel="stylesheet" href="/stylesheet/studio.css">
</header>
<div class="backdrop">
    <div class="txt">
        <h1>Studio Shoot</h1>
        <p style="margin-left: 10%; margin-right: 10%; padding-top: 20px; text-align: left; font-size: 18px;">
            Our studios are well designed with state of the art equipments and furnitures. We are available EVERYDAY for a variety of studio shoots <br> (family, beauty, glamour, fashion, official and product shoots). <br>
            We make certain our clients are extremely comfortable with our ambience and have the most remarkable experience in the process of delivering our services. <br>
            We attend to both "walk-in clients" and also clients on booking/appointment. <br> <i>Do well to contact us on your next shoot for these are some from our gallery.</i> 
        </p>
    </div><br><br>
    <div class="imgs" style="margin-left: 10%; margin-right: 10%;">
        <img src="https://i.ibb.co/tbpDYwq/lisa.png" class="lisa">
        <div class="long">
           <img src="https://i.ibb.co/mGrQZnt/a.png" >
            <img src="https://i.ibb.co/wr4VQXS/b.png" > 
        </div>
        <div class="long">
            <img src="https://i.ibb.co/309s66F/c.png">
            <img src="https://i.ibb.co/kc6d2C3/d.png">
        </div>
        <img src="https://i.ibb.co/RQ91S26/e.png" class="lisa">
        <div class="long">
            <img src="https://i.ibb.co/rmTrWkL/f.png">
            <img src="https://i.ibb.co/khVf2Dt/g.png">
        </div>
        <div class="long">
            <img src="https://i.ibb.co/C5NLdgP/h.png">
            <img src="https://i.ibb.co/gPJHRgJ/i.png">
        </div>
        <div class="long">
            <img src="https://i.ibb.co/7kxb5YN/j.png">
            <img src="https://i.ibb.co/qkKScNP/k.png">
        </div>
        <img src="https://i.ibb.co/Ry91WHV/l.png" class="lisa">
        <div class="long">
            <img src="https://i.ibb.co/vDWqtWV/m.png">
            <img src="https://i.ibb.co/TbMtzHH/n.png">
        </div>
        <div class="long">
            <img src="https://i.ibb.co/gjYDkPQ/o.png">
            <img src="https://i.ibb.co/QDHdjzs/p.png">
        </div>
        <div class="long">
            <img src="https://i.ibb.co/qp3sTHM/q.png">
            <img src="https://i.ibb.co/r6y30X3/r.png">
        </div>
        <div class="long">
            <img src="https://i.ibb.co/K9dCtvd/s.png">
            <img src="https://i.ibb.co/kDZ1bMZ/t.png">
        </div><br><br><br>
    </div>
</div><br><br>
<style>
    .backdrop{
        background: #420000;
        color: #ffffff;
        text-align: center;
    }
    .txt{
        padding-top: 18vh;
    }
</style>
<%- include ('../partials/footer') %>