<%- include ('../partials/back') %>
    <div class="servicebd">
        <div style="padding-top: 18vh; color: #ffffff; text-align: center;">
            <h1 style="font-size: 30px; font-weight: 400;">Photography Training</h1>
            <p style="margin-left: 10%; margin-right: 10%; padding-top: 20px; text-align: left;" class="para">
                At Everyday Studios, We offer photography trainings to aspiring photographers and already practicing photographers with interest to improve on specific aspects of Photography (advanced photography). <br>
                Our training programs offer a complete package of knowledge on all the basic understandings and philosophy needed in photography together with an overview and detailed explanation of a good workflow in photography. <br>
                We avail the opportunity for our trainees to appreciate the various composition techniques and how to post-process photos into amazing looking images (post production). Our training programs last for a duration of one to three months with specific terms.
            </p><br><br>
            <h3><a href="/contact" style="color: #7fffd4;"><i>Kindly contact us for more Details</i> </a></h3>
        </div>

    </div><br><br>
    <style>
        .servicebd{
        background-color: black;
        background: url('https://i.ibb.co/KLDtzqV/781A8501.jpg') no-repeat;
        background-size: cover; background-position: center center;
        width: 100%;
        height: 100vh;
        text-align: center;
    }
    
    </style>
<%- include ('../partials/footer') %>